.state-1 {
    width: 100%;
    animation: update-1 0.75s;
    animation-fill-mode: forwards;
}
.state-0 {
    width: 100%;
    animation: update-0 0.75s;
    animation-fill-mode: forwards;
}

@keyframes update-1 {
    50%{
        filter: opacity(50%);
        transform: scaleX(1.1) scaleY(1.1);
    }
}
@keyframes update-0 {
    50%{
        filter: opacity(50%);
        transform: scaleX(1.1) scaleY(1.1);
    }
}