.fetch {
    animation: update 0.75s forwards;
}

@keyframes update {
    40%{
        animation-timing-function: ease-in;
        filter: opacity(0%);
        transform: translateY(+50%);
    }
    60% {
        filter: opacity(0%);
        transform: translateY(-50%);
    }
    100%{
        animation-timing-function: ease-out;
    }
}