@using Artisan.II.Client.Common.JsInterop.Core
@inject IDomJsInterop JsInterop

<ArtisanStylesheet/>
<div class="component-base">
    <img @ref="@_image" class="update" onclick="@ChangeValue" src="@SvgUri" alt="Update"/>
</div>

@code {
    private const string AnimationClass = "update";
    private ElementReference _image;
    private string SvgUri => PathHelper.GetFullPath<ArtisanCheckBox>("svg/update.svg"); 
    private async Task ChangeValue()
    {
        await JsInterop.ReplayAnimationAsync(_image, AnimationClass);
        Action?.Invoke();
        StateHasChanged();
    }
    [Parameter]
    public Action? Action { get; set; } = default!;
}