<ArtisanStylesheet/>
<div class="component-base">
    <img class="@Class" onclick="@ChangeValue" src="@SvgUri" alt="@Value"/>
</div>

@code {
    private string Class => Value ? "true" : "false";
    private static string SvgUri => PathHelper.GetFullPath<ArtisanCheckBox>("svg/checkbox.svg");
    private async Task ChangeValue()
    {
        Value = !Value;
        await ValueChanged.InvokeAsync(Value);
    }

    [Parameter]
    public bool Value { get; set; } = true;
    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }
}