<div class="component-base">
    <img class="arrow-hour" src="@ArrowHourSvgUri" alt="Arrow"/>
    <img class="arrow-minute" src="@ArrowMinuteSvgUri" alt="Arrow"/>
    <img src="@ClockSvgUri" alt="Clock"/>
</div>

@code {
    private static string ClockSvgUri => PathHelper.GetFullPath<ArtisanCheckBox>("svg/loader_clock.svg");
    private static string ArrowHourSvgUri => PathHelper.GetFullPath<ArtisanCheckBox>("svg/loader_arrow_hour.svg");
    private static string ArrowMinuteSvgUri => PathHelper.GetFullPath<ArtisanCheckBox>("svg/loader_arrow_minute.svg");
}