@page "/Test"
@using Artisan.II.Client.Common.Components
@using Bogus
@inject Faker Faker

<div class="component">
    <ArtisanCheckBox @bind-Value="@Status"/>
    <br/>
    <ArtisanUpdateButton Action="@UpdateName"></ArtisanUpdateButton>
    <br/>
    <ArtisanFetchButton Action="@UpdateName"></ArtisanFetchButton>
    <br/>
</div>
@Name

@code {
    private bool Status { get; set; }

    private string Name { get; set; } = string.Empty;

    private void UpdateName()
    {
        Name = Faker.Name.FullName();
        StateHasChanged();
    }
}